        <Trasmissione tipo="{{tipo}}"/>
		<Assistito>
		    <DatiAnagrafici>
		        <CUNI>{{id_cuni}}</CUNI>
				<Residenza>
				    <Regione>{{reg_res}}</Regione>
					<ASL>{{as_res}}</ASL>
					<Comune>{{com_res}}</Comune>
				</Residenza>
				<validitaCI>{{val_cod}}</validitaCI>
				<tipologiaCI>{{tipo_cod}}</tipologiaCI>
				<AnnoNascita>{{anno_nasc}}</AnnoNascita>
				<Genere>{{gen}}</Genere>
				<Cittadinanza>{{cittad}}</Cittadinanza>
				<StatoCivile>{{stato_civ}}</StatoCivile>
				<ResponsabilitaGenitoriale>{{resp_genit}}</ResponsabilitaGenitoriale>
				<TitoloStudio>{{tit_studio}}</TitoloStudio>
				<CondizioneProfessionale>{{cond_prof}}</CondizioneProfessionale>
			</DatiAnagrafici>
		</Assistito>
		<Erogatore>
		    <CodiceRegione>{{reg_erog}}</CodiceRegione>
			<CodiceASL>{{as_erog}}</CodiceASL>
			<StrutturaErogatrice>{{strut_erog}}</StrutturaErogatrice>
		</Erogatore>
		<Eventi>
		    <PresaInCarico Data="{{data_pic}}" SoggettoRichiedente="{{sogg_rich}}">
			    <Id_Rec>{{id_rec}}</Id_Rec>
				<PercentualeSSN>{{perc_ssn}}</PercentualeSSN>
				<PianificazioneCondivisa>{{pian_cure}}</PianificazioneCondivisa>
				<SettingAssistenziale>{{sett_erog}}</SettingAssistenziale>
			</PresaInCarico>
			<Valutazione Data="{{data_valu_ini}}">
			    <Patologia>
				    <Principale>{{pat_princ}}</Principale>
					<Concomitante>{{pat_conc}}</Concomitante>
				</Patologia>
				<Autonomia>{{liv_auton}}</Autonomia>
				<GradoMobilita>{{grado_mob}}</GradoMobilita>
				<Disturbi>
				    <Cognitivi>{{dist_cogn}}</Cognitivi>
					<Comportamentali>{{dist_comp}}</Comportamentali>
					<Comunicazione>{{comunic}}</Comunicazione>
				</Disturbi>
				<AreaSensoriale>{{area_sens}}</AreaSensoriale>
				<BisognoInternistico>{{bis_intern}}</BisognoInternistico>
				<StabilitaClinica>{{stab_clin}}</StabilitaClinica>
				<PresenzaCaregiver>{{pres_careg}}</PresenzaCaregiver>
				<SupportoSociale>{{supp_soc}}</SupportoSociale>
				<UtilizzoDisProtesiOrtesi>{{util_dpo}}</UtilizzoDisProtesiOrtesi>
				<AmbitoInterventoPRI1>{{amb_int_prev1}}</AmbitoInterventoPRI1>
				<AmbitoInterventoPRI2>{{amb_int_prev2}}</AmbitoInterventoPRI2>
				<AmbitoInterventoPRI3>{{amb_int_prev3}}</AmbitoInterventoPRI3>
				<AmbitoInterventoPRI4>{{amb_int_prev4}}</AmbitoInterventoPRI4>
				<AmbitoInterventoPRI5>{{amb_int_prev5}}</AmbitoInterventoPRI5>
				<AmbitoInterventoPRI6>{{amb_int_prev6}}</AmbitoInterventoPRI6>
				<ScalaClassDis1>{{scala_clas_disab1}}</ScalaClassDis1>
				<EsitoRilevazioneDis1>{{esito_ril_disab1}}</EsitoRilevazioneDis1>
				<ScalaClassDis2>{{scala_clas_disab2}}</ScalaClassDis2>
				<EsitoRilevazioneDis2>{{esito_ril_disab2}}</EsitoRilevazioneDis2>
				<ScalaClassDis3>{{scala_clas_disab3}}</ScalaClassDis3>
				<EsitoRilevazioneDis3>{{esito_ril_disab3}}</EsitoRilevazioneDis3>
				<ScalaClassDis4>{{scala_clas_disab4}}</ScalaClassDis4>
				<EsitoRilevazioneDis4>{{esito_ril_disab4}}</EsitoRilevazioneDis4>
				<ScalaClassDis5>{{scala_clas_disab5}}</ScalaClassDis5>
				<EsitoRilevazioneDis5>{{esito_ril_disab5}}</EsitoRilevazioneDis5>
				<ScalaClassDis6>{{scala_clas_disab6}}</ScalaClassDis6>
				<EsitoRilevazioneDis6>{{esito_ril_disab6}}</EsitoRilevazioneDis6>
				<DurataComplessivaPRI>{{durata_prev}}</DurataComplessivaPRI>
				<OreTrattTotPRI>{{ore_tratt_prev}}</OreTrattTotPRI>
				<Operatore>
				    <ProfCoinMMGPLS>{{prof_coinv_mmgpls}}</ProfCoinMMGPLS>
					<ProfCoinMedicoSpec>{{prof_coinv_medspec}}</ProfCoinMedicoSpec>
					<ProfCoinInfermiere>{{prof_coinv_inferm}}</ProfCoinInfermiere>
					<ProfCoinOSS>{{prof_coinv_operss}}</ProfCoinOSS>
					<ProfCoinFisio>{{prof_coinv_fisio}}</ProfCoinFisio>
					<ProfCoinLogopedista>{{prof_coinv_logop}}</ProfCoinLogopedista>
					<ProfCoinTerPsico>{{prof_coinv_terap_neuro}}</ProfCoinTerPsico>
					<ProfCoinTerOccup>{{prof_coinv_terap_occup}}</ProfCoinTerOccup>
					<ProfCoinPsicologo>{{prof_coinv_psico}}</ProfCoinPsicologo>
					<ProfCoinAssSociale>{{prof_coinv_assistsoc}}</ProfCoinAssSociale>
					<ProfCoinEduProf>{{prof_coinv_educprof}}</ProfCoinEduProf>
					<ProfCoinAltriProfSan>{{prof_coinv_altro}}</ProfCoinAltriProfSan>
				</Operatore>
			</Valutazione>
		</Eventi>